:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

* {
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none
}

.emphasize {
  background: linear-gradient(45deg, #001a62 0%, #112fb2 20%, #01cfbb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

